# Node
node_modules
npm-debug.log
yarn-error.log
.next
out
dist

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
